#forward-logo-mobile {
	display: block;
	max-height: 35px;
}
#forward-logo {
	display: none;
	position: absolute;
	right: 70px;
	padding-top: 18.75px;
	max-height: 50px;
}
@media screen and (min-width: 768px) {
	#forward-logo-mobile {
		display: none;
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	#forward-logo {
		display: block;
		top: 37px;
		max-height: 35px;
		right: 50px;
	}
}
@media screen and (min-width: 1025px) {
	#forward-logo {
		display: block;
		max-height: 50px;
	    right: 70px;
	    top: 0;
	}
}